body {
    background-color: #9c9c9c;
    margin: 20px;
}
footer {
    background-color: #9c9c9c;
}

.login-form {
    background-color: #dfff50
    margin: 10px;
}

.sign-up-form {
    background-color: #ffb950
    margin: 10px;
}

.task-to-do {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffb950
}

.task-done {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #dfff50
}

.days-left {
    display: block;
    border: 5px;
}

.to-do-list-button {
    margin: 5px;
}

.sucessfull-login {
    color: #ffb950;
    font-size: large;
    margin: 5px;
}

.unsucessfull-login {
    color: #ffb950;
    font-size: large;
    margin: 5px;
}

.welcome-user {
    color: #dfff50;
    font-size: large;
    margin: 5px;
}

.zero-results{
    color: #ffb950;
    font-size: large
    margin: 5px;
}

.login-username {
    background-color: #dfff50
}

.signup-username {
    background-color: #ffb950
}