body {
    background-color: gray;
}

.login-form {
    background-color: seagreen;
}

.sign-up-form {
    background-color: cadetblue;
}

.job-to-do {
    margin: 10px;
    background-color: darkcyan;
}

.job-done {
    margin: 10px;
    background-color: rgb(35, 177, 90)
}

.days-left {
    display: block;
    border: 5px;
}