<!-- <div class="login-form"> -->
    <form action="login.php" method="post">
        <!-- <label for="userName">USERNAME</label> -->
        <input type="text" name="userName" placeholder="Username">
        <input type="email" name="userEmail" placeholder="email@domain.ext">
        <input type="password" name="userPassword" placeholder="Password">
        <button type="submit" name ="login">LOGIN</button>
    
        <button type="submit" name ="sighup">SIGN UP</button>
    
    </form>
    <!-- </div> -->